body {
  background-color: #e6e4bd;
  font-family: Calibri;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
    border: solid #595027;
    background-color: #ccac83;
    padding: 3px;
    border-radius: 3px;
}

h3, p, div, label {
    color: #530101;
}

