<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>best_mail</title>
</head>
<body>
<div id="account">you are connected with: </div>
<a href="/">
    <button onclick="localStorage.removeItem('email')">log out</button>
</a>
<br><br>
<a href="/send">
    <button>send new message</button>
</a>
<h3>MAILS:</h3>
<div id="mails"></div>
<h3>CONVERSATION:</h3>
<div id="convContent"></div>

<script type="module">

    document.getElementById("account").textContent += localStorage.getItem("email")

    const data = {
        email: localStorage.getItem("email"),
    };

    const response = await fetch("http://127.0.0.1:8000/msgs/receive", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
    });
    const convs = await response.json();
    const container = document.getElementById("mails");
    const mail_div = document.getElementById("convContent");

    for (const conv of convs) {
        const last_mail = conv[conv.length - 1]
        const btn = document.createElement("button");
        btn.innerText = "subject: " + last_mail.subject + " | from:" + last_mail.sender_email;
        if (last_mail.read) {
            btn.style.opacity = "0.5"
        }
        btn.onclick = async () => {
            btn.style.opacity = "0.5"

            mail_div.innerHTML = ''
            for (const mail of conv) {
                mail_div.insertAdjacentHTML("beforeend",
                    `<b>From:</b> ${mail.sender_email}<br>
                <b>Subject:</b> ${mail.subject}<br><br>
                <b>Message:</b><br>${mail.msg}<br><br>`);
                if (mail.attachments.length > 0) {
                    mail_div.insertAdjacentHTML("beforeend",
                        "<b>Attachments:</b><div>click to download</div>");
                    for (const file of mail.attachments) {
                        let btn = document.createElement('button');
                        btn.textContent = file.file_name;
                        btn.onclick = function () {
                            let blob = new Blob([Uint8Array.from(atob(file.file_data), c => c.charCodeAt(0))]);
                            let link = document.createElement("a");
                            link.href = URL.createObjectURL(blob);
                            link.download = file.file_name;
                            link.click();
                        };
                        mail_div.appendChild(btn)
                    }
                }
                mail_div.insertAdjacentHTML("beforeend", `
                <br><br><a href="/send?receiver_email=${last_mail.sender_email}&subject=${last_mail.subject}&reply_to=${last_mail.uid}">
                <button type="button">reply</button></a>`);

                await fetch("http://127.0.0.1:8000/msgs/read", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({uid: mail.uid,})
                });
            }

        };
        container.appendChild(btn);
        container.appendChild(document.createElement("br"))
    }

</script>
</body>
</html>
