<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
<form id="loginForm">
    <label>email</label>
    <input id="email">
    <br>
    <label>password</label>
    <input id="password" type="password">
    <br>
    <button type="submit">Login</button>
    <br>
</form>
<p id="message"></p>

<script>
    document.getElementById("loginForm").onsubmit = async (e) => {
        e.preventDefault();

        const email = document.getElementById("email").value

        const data = {
            email: email,
            password: document.getElementById("password").value
        };

        const response = await fetch("http://127.0.0.1:8000/auth/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (response.status == 200){
            localStorage.setItem("email", email);
            window.location.href = "/mails";
        }
        else if (response.status == 400) {
            const result = await response.json();
            document.getElementById("message").innerText = result.message;
        }
    };

</script>
</body>
</html>